.header__container {
    align-items: center;
    display: flex;
    justify-content: center;
    object-fit: fill;
}

header {
    padding: 24px;
}

header img {
    max-width: 250px;
    width: 100%;
}