.header__container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 10vh;
}

.header__title {
    color: #ffff00;
    font-size: 4rem;
    font-weight: 700;
}