.header__container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 10vh;
}

.header__title {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #ffe53b, #ff2525);
    font-size: 4rem;
    font-weight: 700;
    -webkit-background-clip: text;
}