.main__container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 85vh;
}

.form__container {
    align-items: center;
    display: flex;
    font-size: 1.1rem;
    height: 500px;
    justify-content: center;
    line-height: 1.2;
    width: 500px;
}

.form__input {
    display: flex;
}

.result__container {
    display: flex;
    justify-content: center;
}