.main__container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 85vh;
}

.form__container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.form__div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6rem;
}

.form__label {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.form__input {
    background: #383838;
    border: none;
    color: #fff;
    font-family: 'Figtree', sans-serif;
    height: 30px;
    outline: none;
    padding: 0;
    width: 250px;
}

.result__container {
    color: #fff;
    display: flex;
    justify-content: center;
}