.main__container--display {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    min-height: 85vh;
}

.content__container--display {
    display: flex;
    flex-direction: column;
}

.form__container--display {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    line-height: 1.5;
    width: 500px;
}

.form__input {
    display: flex;
}

.result__container--display {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}